<button
  icon-button
  (click)="onClick(eventType.DELETE_SELECTED)"
  matTooltip="削除"
  matTooltipPosition="below"
>
  delete
</button>

<button
  icon-button
  (click)="onClick(eventType.SELECT_ALL)"
  matTooltip="全選択"
  matTooltipPosition="below"
>
  select_all
</button>

<button
  icon-button
  (click)="onClick(eventType.TEST_CALL)"
  matTooltip="テスト"
  matTooltipPosition="below"
>
  smart_toy
</button>

<button
  icon-button
  (click)="onClick(eventType.ZOOM_IN)"
  matTooltip="ズームイン"
  matTooltipPosition="below"
>
  zoom_in
</button>

<button
  icon-button
  (click)="onClick(eventType.ZOOM_OUT)"
  matTooltip="ズームアウト"
  matTooltipPosition="below"
>
  zoom_out
</button>

<button
  icon-button
  (click)="onClick(eventType.FIT_TO_SCREEN)"
  matTooltip="スクリーンに合わせる"
  matTooltipPosition="below"
>
  zoom_in_map
</button>

<button
  icon-button
  (click)="onClick(eventType.ONE_TO_ONE)"
  matTooltip="1:1"
  matTooltipPosition="below"
>
  center_focus_strong
</button>
